.active {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 0.09rem solid grey;
  background: grey;
  margin: 0.5rem;
}

.inactive {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 0.09rem solid black;
  margin: 0.5rem;
}