.Group {
  position: relative;

  &:hover {
    .Ellipse3 {
      left: 15px
    }

    .Ellipse2 {
      left: 3px
    }

    .Ellipse1 {
      left: 11px
    }
  }
}

.Rectangle1 {
  width: 1.35rem;
  height: 0.1rem;
  background: #C4C4C4;
  border-radius: 3px;
  transform: matrix(1, 0, 0, -1, 0, 0);

}

.Rectangle2 {
  width: 1.35rem;
  height: 0.1rem;
  background: #C4C4C4;
  border-radius: 3px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: 0.35rem;
}

.Rectangle3 {
  width: 1.35rem;
  height: 0.1rem;
  background: #C4C4C4;
  border-radius: 3px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: 0.75rem;
}

.Ellipse1 {
  position: absolute;
  width: 0.255rem;
  height: 0.255rem;
  left: 3px;
  border-radius: 50%;
  background: #C4C4C4;
  bottom: -0.5px;
  transition: 0.3s;
}

.Ellipse2 {
  position: absolute;
  width: 0.255rem;
  height: 0.255rem;
  left: 15px;
  border-radius: 50%;
  background: #C4C4C4;
  bottom: -6.5px;
  transition: 0.3s;
}

.Ellipse3 {
  position: absolute;
  width: 0.255rem;
  height: 0.255rem;
  left: 6.5px;
  border-radius: 50%;
  background: #C4C4C4;
  bottom: -12.5px;
  transition: 0.3s;
}