.menu-button {
  border: none;
  background: none;
  position: absolute;
  top: 0.1rem;

  &:focus {
    outline: 0;
  }
}

.menu-categories {
  text-transform: capitalize;
  padding-top: 1rem;
  padding-left: 0.5rem;
  background: white;
}

.selected-pet {
  text-decoration: underline;
  font-weight: 600;
  margin: 0.5rem 0px;
}

.non-selected-pet {
  font-weight: 400;
  margin: 0.5rem 0px;
}

.animalType {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}