.header {
	display: flex;
	justify-content: space-between;
	margin: 0 0.5rem;

	.menu {
		line-height: 3rem;
	}

	.logo {}
}

.banner-slider {
	padding-bottom: 30px;
	position: relative;
	margin-bottom: 1rem;

	.banner-item {
		width: 100%;
		height: 11rem;
		background-color: #E8E8E8;

	}
}

.cards-container {
	display: flex;
}



.whats-new {
	margin-bottom: 2rem;

	h2 {
		margin: 0.5rem;
	}
}

.favorites {
	margin-bottom: 2rem;

	h2 {
		margin: 0.5rem;
	}
}

.shop-categories {
	margin: 0 0.5rem;
}







.special-offers {
	margin: 2rem 0.5rem 0 0.5rem;
	padding-bottom: 30px;
	position: relative;

	.offer-card {
		height: 21rem;
		width: 100%;
		background-color: #E8E8E8;
	}
}

.newsletter {
	margin: 1rem 0.5rem 3rem 0.5rem;

	input {
		width: 100%;
		border: 0.09rem solid #E8E8E8;
		padding: 0.7rem;
		margin-bottom: 1rem;
	}

	input::placeholder {
		color: black;
		font-size: 1rem;
		font-weight: 400;
	}

	.subscribe {}
}