.footer {
  background: #E8E8E8;
  padding: 1rem;

  ul {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
  }

  ul li {
    margin-bottom: 0.7rem;
  }

  ul li a {
    font-weight: normal;
    text-decoration: none;
    color: black;
  }
}