@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.clear {
  clear: both;
}

.clear,
.clear::after {
  content: "";
  clear: both;
  display: block;
}

/* .container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clear,
.clear::after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-weight: 300;
  font-size: 1.6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}